body {
    background-color: #F0F0F0;
    font-family: 'OpenSans','Source Sans Pro', 'Arial';
    padding: 2em;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    margin-bottom: 1em;
    padding: 10px;
    width: 50%;
}

button {
    background-color: #d4753f;
    color: #F0F0F0;
    display: block;
    font-weight: 600;
    margin: 2em 0;
    padding: 1em 4em;
}

.section {}